/.vscode
/1d-sp.py
/adi2d.py
/adibpm2.py
/afe-bpm.py
/animacion-sp
/arreglo-sp.py
/bpm-master
/bpm-moleculas.py
/c
/color.py
/dimero-teorico.py
/dimeros-pp.py
/dimeros-sp.py
/dimeros-ss.py
/dynamical-pp.py
/dynamical-sp.py
/dynamical-ss.py
/examples2D
/imagenes.py
/out.csv
/outfile.txt
/perfil.py